@using System
@using NetFrontEnd
@using _5ECharacterBuilder

<script type="text/javascript">
    window.race = "";
    window.classes = [];
    window.background = [];
</script>

<style>
    label {
        font-weight: bold;
    }
    .section {
        margin-top: 10px;
    }
</style>

<form action="Main.cshtml">
    <div class="race section">
        <label>Race</label>
        <select name="race">
            @foreach (AvailableRaces availableRaces in Enum.GetValues(typeof (AvailableRaces)))
            {
                <option value="@availableRaces">@availableRaces.GetDescription()</option>
            }
        </select>
    </div>
    <div class="class section">
        <select name="class">
            @foreach (AvailableClasses availableClasses in Enum.GetValues(typeof(AvailableClasses)))
            {
                <option value="@availableClasses">@availableClasses.GetDescription()</option>
            }
        </select>
    </div>
    <div class="background section">
        <select name="background">
            @foreach (AvailableBackgrounds availableBackgrounds in Enum.GetValues(typeof(AvailableBackgrounds)))
            {
                <option value="@availableBackgrounds">@availableBackgrounds.GetDescription()</option>
            }
        </select>
    </div>
    <div class="section">
        <input type="submit" value="Create" />
    </div>
</form>
