@using System
@using NetFrontEnd
@using _5ECharacterBuilder
@using _5EDatabase

<script type="text/javascript">
    window.race = "";
    window.classes = [];
    window.background = [];
</script>

<style>
    label {
        font-weight: bold;
    }
    .section {
        margin-top: 10px;
    }
</style>

<form action="Main.cshtml">
    <div class="race section">
        <label>Race</label>
        <select name="race">
            @foreach (Race Race in Enum.GetValues(typeof (Race)))
            {
                <option value="@Race">@Race.GetDescription()</option>
            }
        </select>
    </div>
    <div class="class section">
        <select name="class">
            @foreach (Class Class in Enum.GetValues(typeof(Class)))
            {
                <option value="@Class">@Class.GetDescription()</option>
            }
        </select>
    </div>
    <div class="background section">
        <select name="background">
            @foreach (Background Background in Enum.GetValues(typeof(Background)))
            {
                <option value="@Background">@Background.GetDescription()</option>
            }
        </select>
    </div>
    <div class="section">
        <input type="submit" value="Create" />
    </div>
</form>
