@using System
@using System.Collections.Generic
@using System.Web
@using NetFrontEnd
@using _5ECharacterBuilder

@{
    var paramerters = HttpContext.Current.Request.Params;
    var raceName = paramerters["race"];
    var className = HttpUtility.UrlDecode(paramerters["class"]);
    var backgroundName = paramerters["background"];
}

<style>
    input.number {
        width: 35px;
    }
    
     .group {
         padding-bottom: 20px;
         padding-left: 20px;

         width: auto;
     }

     .group input {
         margin-left: auto;
     }

    .description {
        float: left;
    }
    label {
        display: block
    }
</style>

<!DOCTYPE html>
<script src="/Scripts/jquery-2.1.1.js"></script>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>5E Character Builder</title>
    </head>
    <body>
            @if (String.IsNullOrEmpty(raceName) || String.IsNullOrEmpty(className) || String.IsNullOrEmpty(backgroundName))
            {
                <div id="BaseCharacterSelect"></div>
                <script type="text/javascript">
                    $.get("BaseCharacterSelect.cshtml", function(data) { $("#BaseCharacterSelect").html(data); });
                </script>
            }
            else
            {
                var classEnums = new List<AvailableClasses> { (AvailableClasses)Enum.Parse(typeof(AvailableClasses), className)};
                var character = CharacterFactory.BuildACharacter((AvailableRaces)Enum.Parse(typeof(AvailableRaces), raceName), classEnums, (AvailableBackgrounds)Enum.Parse(typeof(AvailableBackgrounds), backgroundName));
                <div class="toolBar">
                                        <input type="button" value="Level Up" onclick="javascript: window.location.href = $(location).attr('href').split('?')[0] + '?' + $.param({ race:'@raceName', class:'@className', background:'@backgroundName'});" />
                </div>
                
                <div>
                    <div class="group">
                        <div>
                            <label>Character Name</label>
                            <input value="@character.Name" />
                        </div>
                    </div>
                    <div class="group">
                        <div>
                            <div class="description">
                                <label>Class & Level</label>
                                <input value="@character.ClassesString" />
                            </div>
                            <div class="description">
                                <label>Background</label>
                                <input value="@character.Background" />
                            </div>
                            <div class="description">
                                <label>Player Name</label>
                                <input />
                            </div>
                        </div>
                        <div style="display: inline-block">
                            <div class="description">
                                <label>Race</label>
                                <input value="@character.Race" />
                            </div>
                            <div class="description">
                                <label>Alignment</label>
                                <input value=""/>
                            </div>
                            <div class="description">
                                <label>Experience Points</label>
                                <input />
                            </div>
                        </div>
                    </div>
                    
                    <div class="group">
                        <div>
                            <label>Inspiration</label>
                            <input class="number" />
                        </div>
                        <div>
                            <label>Proficiency Bonus</label>
                            <input class="number" value="@character.ProficiencyBonus" />
                        </div>
                    </div>
                    
                    <div class="group">
                        @foreach (var ability in character.Abilities)
                        {
                            <div>
                                <label>@ability.Key</label>
                                <input class="number" value="@ability.Value.Score" />
                                <input class="number" value="@ability.Value.Modifier" />
                            </div>
                        }
                    </div>
                        
                    <div class="group">
                        <label>Saving Throws</label>
                        @foreach (var savingThrow in Enum.GetNames(typeof(SavingThrow)))
                        {
                            <div>
                                @savingThrow
                                @if (character.SavingThrows.Contains((SavingThrow)Enum.Parse(typeof(SavingThrow), savingThrow)))
                                {
                                <input type="checkbox" checked />
                                }
                                else
                                {
                                <input type="checkbox" />
                                }
                            </div>
                        }
                    </div>
                    
                    <div class="group">
                        @foreach (var skill in character.Skills.AllSkills)
                        {
                            <div>
                                @skill.GetDescription()
                                <input class="number" value="@character.SkillBonus(skill)" />
                                @if (character.Skills.Chosen.Contains(skill))
                                {
                                <input type="checkbox" checked />
                                }
                                else
                                {
                                <input type="checkbox" />
                                }
                            </div>
                        }
                    </div>
                    <div class="group">
                        <label>Armor Class</label>
                        <input class="number" value="@character.ArmorClass" />
                        <label>Initiative</label>
                        <input class="number" value="@character.Initiative" />
                        <label>Speed</label>
                        <input class="number" value="@character.Speed" />
                        <label>Hit Points</label>
                        <input class="number" value="@character.MaxHp" />
                        <label>Hit Dice</label>
                        <input value="@character.HitDice" />
                    </div>
                </div>
            }
</body>
</html>
