@using PerpetuumSoft.Knockout
@model MvcFrontEnd.Models.Character
@{
    ViewBag.Title = "Home Page";
    var ko = Html.CreateKnockoutContext();
}

<div class="row">
    <div>
        <div>@Html.LabelFor(m => m.Race) @Html.DisplayFor(m => m.Race)</div>
        <div>@Html.LabelFor(m => m.Classes) @Html.DisplayFor(m => m.Classes)</div>
        <div>@Html.LabelFor(m => m.Background) @Html.DisplayFor(m => m.Background)</div>
    </div>

    @using (var ability = @ko.With(m => m.Strength))
    {
        @Html.DisplayFor(m => ability, "CharacterAbility")
    }

    @using (var ability = @ko.With(m => m.Dexterity))
    {
        @Html.DisplayFor(m => ability, "CharacterAbility")
    }

    @using (var ability = @ko.With(m => m.Constitution))
    {
        @Html.DisplayFor(m => ability, "CharacterAbility")
    }

    @using (var ability = @ko.With(m => m.Intelligence))
    {
        @Html.DisplayFor(m => ability, "CharacterAbility")
    }

    @using (var ability = @ko.With(m => m.Wisdom))
    {
        @Html.DisplayFor(m => ability, "CharacterAbility")
    }

    @using (var ability = @ko.With(m => m.Charisma))
    {
        @Html.DisplayFor(m => ability, "CharacterAbility")
    }
</div>

@section scripts
{
    @ko.Initialize(Model)
    <script type="text/javascript">
        viewModel.AbilityList = [];
        viewModel.AbilityList.push(viewModel.Strength);
    </script>
    @ko.Apply(Model)
}